<div class="login-form">
    <div class="form-content">
        <h4 class="text-center">{{header | uppercase}}</h4>

        <div *ngIf="showAdmin">
            <form class="admin" #adminForm="ngForm" (submit)="adminLogin()">
                <div class="form-group mb-3">
                    <input type="email" class="form-input" placeholder="E-mail" required="required" name="emailId" #mailId="ngModel" [class.invalid-form]="mailId.invalid && mailId.touched" ngModel>
                        <span class="text-danger" *ngIf="(mailId.invalid && mailId.touched) || (adminForm.submitted && mailId.invalid)">Enter email id</span>
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" class="form-input" placeholder="Password" required="required" name="password" ngModel #password="ngModel" [class.invalid-form]="password.invalid && password.touched">
                            <span class="text-danger" *ngIf="(password.invalid && password.touched) || (adminForm.submitted && password.invalid)">Enter Password</span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="block-btn">Login
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="isSpinner"></span>
                            </button>
                        </div>
                        <button type="button" class="btn btn-block btn-outline-primary" (click)="toggle()"><i class="fa fa-id-card" aria-hidden="true"></i>I am here to vote !</button>
                    </form>
                </div>

                <div *ngIf="!showAdmin">
                    <form class="user" #userForm="ngForm" (submit)="userLogin()">
                        <div class="form-group mb-3">
                            <input type="text" placeholder="Aadhar Number" class="form-input" required="required" name="aadharId" ngModel maxLength="12" #aadharId="ngModel" [class.invalid-form]="aadharId.invalid && aadharId.touched" minLength="12">
                                <span class="text-danger" *ngIf="(aadharId.invalid && aadharId.touched) || (userForm.submitted && aadharId.invalid)">Aadhaar Number is Mandatory</span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="block-btn">Login</button>
                            </div>
                            <button type="button" class="btn btn-block btn-outline-primary" (click)="toggle()"><i class="fa fa-id-card" aria-hidden="true"></i>I am an Admin User</button>
                        </form>
                    </div>
                </div>
            </div>
